body{
	background-color: slateblue;
	text-align: center;
	color: black;
}
img{
	width: 275px;
	height: 350px;
	object-fit: cover;
}
div{
	display: inline-block;
	background-color: white;
	padding: 25px;
	margin: 20px;
	min-width: 25%;
}
a{
	background-color:  MidnightBlue;
	padding: 10px 20px;
	color: white;
	text-decoration: none;
}
a:hover{
	background-color: blue;
}
div:hover{
    border: 2px solid rgba(0, 0, 0, 0.7);
}